{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    #products .row {
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%
    }
    div.row img, div.row .info {
        margin-left: 10%;
    }
    form.row {
        position: relative;
        margin-top: 5%;
        margin-left:50%;
    }
    form input {
        border: 1px solid #ffffffff;
        border-radius: 5px;
        margin-right: 5%;
        padding: 5px;
        background-color: #e9e0d1;
    }
    form input:hover {
        border: 1px solid #c1a874;
        
        background-color: #ffffffff;
    }
    @media ( max-width: 1410px ) {
        form.row {
            margin-left:65%;
        }
        form input {
            width: 250px;
            height: 35px;
            display: block;
            margin-right: 60%;
        }
        form span {
            display: block;
        }
    }

    .my_custom_table{
        min-width: 400px;
        font-size : 14px;
    }

    .my_custom_thread {
        font-weight: normal;
        text-transform : uppercase;
        letter-spacing : .2em;
    }

    .custom_image {
        width : 100px;
        height : 100px;
        }
</style>

<script>
    function all_order(){
        var msg = "전체상품 주문을 완료하였습니다!\n";
        msg+="총 금액 : "+"00,000"+" 원";
        alert(msg);
    }
    function select_order(){
        var msg = "선택상품 주문을 완료하였습니다!\n";
        msg+="총 금액 : "+"00,000"+" 원";
        alert(msg);
    }
</script>
<div class="container pb-5" style="width: 50%">
    <h1 style="color: #c1a784;">CART</h1>
    {% if not cart_items %}
        <div>
            <div class="text-center">
                <br><h1>Your cart is empty</h1><br>
                <p class="text-center"><a href="{% url 'store' %}">Go Store</a></p>
            </div>
        </div>
    {% else %}
        <div class="row mx-auto">
            <div class="col-12 col-sm-12 com-md-12 com-lg-6 text-center">
                <table class="table my_custom_table">
                    <thread class="my_custom_thread">
                        <tr>
                            <th colspan="5">
                                Your items
                            </th>
                        </tr>
                    </thread>
                    <tbody>
                        {% for cart_item in cart_items %}
                        <tr>
                            <td>
                                <img src="{{cart_item.product.image.url}}" alt="" class="float-left rounded custom_image">
                            </td>
                            <td class="text-left">
                                {{ cart_item.product.name }}
                                <br>
                                NUM : {{ cart_item.product.id }}
                                <br>
                                Price : {{ cart_item.product.price }}
                                <br>
                                Qty : {{ cart_item.quantity }} x ${{ cart_item.product.price }}
                            </td>
                            <td>
                                ${{ cart_item.total_price }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-12 col-sm-12 com-md-12 com-lg-6 text-center">
                <table class="table my_custom_table">
                    <thread class="my_custom_thread">
                        <tr>
                            <th>Checkout</th>
                        </tr>
                    </thread>
                    <tbody>
                        <tr>
                            <td>Check Please</td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                Your total is : <strong>A${{ total }}</strong>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    {% endif %}
</div>

{% endblock content %}