{% extends 'base.html' %}
{% load static %}

{% block content %}
<style> 
    .drag {
        position:relative;
        cursor:hand;
        z-index: 100;
    }
    
    .face-nav {
        float: right;
        margin: 9% 20% 9% 20%;
    }
    .face-nav .nav-link {
        text-decoration: none;
        color: #000;
        background-color: #e9e0d1;
    }
    
    .bang {
        z-index: 300;
    }
    .side {
        z-index: 200;
    }
    nav.pieces {
        border: 2px solid #e9e0d1;
        border-radius: 10px 10px 0 0;
        background-color: white;
        margin: 10px 10% 0 10%;
    }
    div.pieces {
        background-color: #e9e0d1;
        margin: 0 10% 0 10%;
        
    }   
    
    .custom-nav .nav-link{
        text-decoration: none;
        color: #c1a784;
        font-size: 1.3em;
        margin: 0 40px 0 40px;
    }
    .custom-nav .nav-link:hover {
        background-color: rgba(193,167,132,0.5);
        color: #ffffff;
    }
    .custom-nav .nav-link.active {
        text-decoration: noen;
        padding: 8px;
        vertical-align: center;
        font-size: 1.3em;
        background-color: rgba(193,167,132);
        color: #ffffff;
    }
    
</style>

<script type="text/javascript">

    var dragobject= {
        z: 0, x: 0, y: 0, offsetx : null, offsety : null, targetobj : null, dragapproved : 0,
        initialize:function(){
            document.onmousedown=this.drag
            document.onmouseup=function(){this.dragapproved=0}
        },
        drag:function(e){
            var evtobj=window.event? window.event : e
            this.targetobj=window.event? event.srcElement : e.target
            if (this.targetobj.className=="drag bang" || "drag back" || "drag side"){
                this.dragapproved=1
                if (isNaN(parseInt(this.targetobj.style.left))){this.targetobj.style.left=0}
                if (isNaN(parseInt(this.targetobj.style.top))){this.targetobj.style.top=0}
                this.offsetx=parseInt(this.targetobj.style.left)
                this.offsety=parseInt(this.targetobj.style.top)
                this.x=evtobj.clientX
                this.y=evtobj.clientY
                if (evtobj.preventDefault)
                    evtobj.preventDefault()
                document.onmousemove=dragobject.moveit
            }
        },
        moveit:function(e){
            var evtobj=window.event? window.event : e
            if (this.dragapproved==1){
                this.targetobj.style.left=this.offsetx+evtobj.clientX-this.x+"px"
                this.targetobj.style.top=this.offsety+evtobj.clientY-this.y+"px"
                return false
            }
        }
    }

    dragobject.initialize()

    function change() {
        get
    }
</script>

<div class="container text-center" style="width: 80%;">
    <img style=" margin-bottom: 10px;" src="../../static/img/long1.jpg" width="300px">
    <div class="face-nav">
        <nav>
            <ul class="navbar-nav">
                <li class="nav-link" onclick="alert('전준호 바보 멍청이');">계란형 얼굴</li>
                <li class="nav-link">둥근 얼굴</li>
                <li class="nav-link">긴 얼굴</li>
                <li class="nav-link">역삼각형 얼굴</li>
                <li class="nav-link">각진 얼굴</li>
            </ul>
        </nav>
    </div>
</div>

<nav class="pieces navbar custom-nav navbar-expand-lg" style="clear: both;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbarTogglerDemo01">
      <ul class="navbar-nav">
          <li>
            <a class="nav-link" href="#">black</a>
          </li>
          <li>
            <a class="nav-link" href="#">pink</a>
          </li>
          <li>
            <a class="nav-link" href="#">purple</a>
          </li>
          <li>
            <a class="nav-link" href="#">dark green</a>
          </li>
      </ul>
  </div>
</nav>

<div class="pieces">
    <img class="drag bang" src="../../static/img/bang1.png" width="300px">
    <img class="drag side" src="../../static/img/bang2.png" width="300px">
    <img class="drag back" src="../../static/img/bang3.png" width="300px">
    <img class="drag back" src="../../static/img/bang4.png" width="300px">
    <img class="drag back" src="../../static/img/bang4.png" width="300px">
    <img class="drag back" src="../../static/img/bang4.png" width="300px">
    <img class="drag back" src="../../static/img/bang4.png" width="300px">
    <img class="drag back" src="../../static/img/bang4.png" width="300px">
    <img class="drag back" src="../../static/img/bang4.png" width="300px">
</div>

{% endblock content %}