{% extends 'base.html' %}
{% load static %}

{% block content %}

<style> 
    .drag {
        position:relative;
        cursor:hand;
    }
    .back {
        z-index: 0;
    }
    .bang {
        z-index: 300;
    }
    .side {
        z-index: 200;
    }
    .face {
        position:relative;
        z-index: 100;
    }
    
    .black {
        -webkit-filter: opacity(.8) drop-shadow(0 0 0 #000);
        filter: opacity(.8) drop-shadow(0 0 0 #000);
    }
    .pink {
         -webkit-filter: opacity(.8) drop-shadow(0 0 0 #FF008B);
        filter: opacity(.8) drop-shadow(0 0 0 #FF008B);       
    }
    .purple {
        -webkit-filter: opacity(.8) drop-shadow(0 0 0 #9F00FF);
        filter: opacity(.8) drop-shadow(0 0 0 #9F00FF);        
    }
    .green {
        -webkit-filter: opacity(.8) drop-shadow(0 0 0 #165C0F);
        filter: opacity(.8) drop-shadow(0 0 0 #165C0F);        
    }
    
    .nav-pieces {
        border: 2px solid #e9e0d1;
        border-radius: 10px 10px 0 0;
        background-color: white;
        margin: 10px 10% 0 10%;
    }
    #pieces {
        background-color: #e9e0d1;
        margin: 0 10% 0 10%;
        
    }   
    
    .custom-nav .nav-link{
        text-decoration: none;
        color: #c1a784;
        font-size: 1.3em;
        margin: 0 40px 0 40px;
    }
    .custom-nav .nav-link:hover {
        background-color: rgba(193,167,132,0.5);
        color: #ffffff;
    }
    .custom-nav .nav-link.active {
        text-decoration: noen;
        padding: 8px;
        vertical-align: center;
        font-size: 1.3em;
        background-color: rgba(193,167,132);
        color: #ffffff;
    }
    
</style>

<script>
var dragobject= {
    z: 0, x: 0, y: 0, offsetx : null, offsety : null, targetobj : null, dragapproved : 0,
    initialize:function(){
        document.onmousedown=this.drag
        document.onmouseup=function(){this.dragapproved=0}
    },
    drag:function(e){
        var evtobj=window.event? window.event : e
        this.targetobj=window.event? event.srcElement : e.target
        var type = this.targetobj.className
        if ((type=="drag bang black") || (type=="drag back black") || (type=="drag side black") ||
           (type=="drag bang pink") || (type=="drag back pink") || (type=="drag side pink") ||
           (type=="drag bang purple") || (type=="drag back purple") || (type=="drag side purple") ||
           (type=="drag bang green") || (type=="drag back green") || (type=="drag side green")){
            this.dragapproved=1
            if (isNaN(parseInt(this.targetobj.style.left))){this.targetobj.style.left=0}
            if (isNaN(parseInt(this.targetobj.style.top))){this.targetobj.style.top=0}
            this.offsetx=parseInt(this.targetobj.style.left)
            this.offsety=parseInt(this.targetobj.style.top)
            this.x=evtobj.clientX
            this.y=evtobj.clientY
            if (evtobj.preventDefault)
                evtobj.preventDefault()
            document.onmousemove=dragobject.moveit
        }
    },
    moveit:function(e){
        var evtobj=window.event? window.event : e
        if (this.dragapproved==1){
            this.targetobj.style.left=this.offsetx+evtobj.clientX-this.x+"px"
            this.targetobj.style.top=this.offsety+evtobj.clientY-this.y+"px"
            return false
        }
    }
}
dragobject.initialize()
    
// 얼굴형을 선택하는 함수
function selectFace(obj) {       
    switch (obj) {
        case 'circle':
            document.getElementById("result").innerHTML = "<img class='face' src='/static/img/circle.png' id='circle' width='300px'>";
                break;
        case 'rectangle': 
            document.getElementById("result").innerHTML = "<img class='face' src='/static/img/rectangle.png' id='rectangle' width='300px'>";
                break;
        case 'oval': 
            document.getElementById("result").innerHTML = "<img class='face' src='/static/img/oval.png' id='oval' width='300px'>";
                break;
        default: 
            document.getElementById("result").innerHTML = ""; 
            break;
    }
}

// pieces image store
    var bang = ["../../static/img/bang1.png", "../../static/img/bang2.png", "../../static/img/bang3.png", "../../static/img/bang4.png", "../../static/img/bang5.png"];
    var side = ["../../static/img/side1.png", "../../static/img/side2.png", "../../static/img/side3.png", "../../static/img/side4.png", "../../static/img/side5.png"];
    var back = ["../../static/img/back1.png", "../../static/img/back2.png", "../../static/img/back3.png", "../../static/img/back4.png", "../../static/img/back5.png"];
    
// 이미지 띄우는 함수
    function change(color) {
        var imageCode="";
        if(color=="black"){
            for(var i=0; i<bang.length; i++) {
                imageCode+="<img class='drag bang black' src='";
                imageCode+=bang[i];
                imageCode+="' width='300px'>";
            }
            for(var i=0; i<side.length; i++) {
                imageCode+="<img class='drag side black' src='";
                imageCode+=side[i];
                imageCode+="' width='300px'>";
            }
            for(var i=0; i<back.length; i++) {
                imageCode+="<img class='drag back black' src='";
                imageCode+=back[i];
                imageCode+="' width='300px'>";
            }
        }
        else if(color=="pink") {
            for(var i=0; i<bang.length; i++) {
                imageCode+="<img class='drag bang pink' src='";
                imageCode+=bang[i];
                imageCode+="' width='300px'>";
            }
            for(var i=0; i<side.length; i++) {
                imageCode+="<img class='drag side pink' src='";
                imageCode+=side[i];
                imageCode+="' width='300px'>";
            }
            for(var i=0; i<back.length; i++) {
                imageCode+="<img class='drag back pink' src='";
                imageCode+=back[i];
                imageCode+="' width='300px'>";
            }
        }
        else if(color=="purple") {
            for(var i=0; i<bang.length; i++) {
                imageCode+="<img class='drag bang purple' src='";
                imageCode+=bang[i];
                imageCode+="' width='300px'>";
            }
            for(var i=0; i<side.length; i++) {
                imageCode+="<img class='drag side purple' src='";
                imageCode+=side[i];
                imageCode+="' width='300px'>";
            }
            for(var i=0; i<back.length; i++) {
                imageCode+="<img class='drag back purple' src='";
                imageCode+=back[i];
                imageCode+="' width='300px'>";
            }
        }
        else {
            for(var i=0; i<bang.length; i++) {
                imageCode+="<img class='drag bang green' src='";
                imageCode+=bang[i];
                imageCode+="' width='300px'>";
            }
            for(var i=0; i<side.length; i++) {
                imageCode+="<img class='drag side green' src='";
                imageCode+=side[i];
                imageCode+="' width='300px'>";
            }
            for(var i=0; i<back.length; i++) {
                imageCode+="<img class='drag back green' src='";
                imageCode+=back[i];
                imageCode+="' width='300px'>";
            }
        }
        
        document.getElementById("pieces").innerHTML = imageCode;
    }


    function func1(){
        alert("로그인이 필요한 기능입니다.");
    }
</script>

<div id="all">
<div class="text-center" id="result"><img class='face' src='/static/img/oval.png' id='oval' width='300px'></div>
<nav class="nav-pieces navbar custom-nav navbar-expand-lg" style="clear: both;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbarTogglerDemo01">
      <ul class="navbar-nav">
          <li class="nav-link" onclick="change('black');">black</li>
          <li class="nav-link" onclick="change('pink');">pink</li>
          <li class="nav-link" onclick="change('purple');">purple</li>
          <li class="nav-link" onclick="change('green');">dark green</li>
      </ul>
        <select onChange="selectFace(this.value);" style="margin-left: 20%;">
            <option value="">얼굴형 선택</option>
            <option value="circle">둥근 얼굴</option>
            <option value="rectangle">각진 얼굴</option>
            <option value="oval">계란형 얼굴</option>
        </select>
        &nbsp;&nbsp;
        {% if user.is_authenticated %}
        <a href="{% url 'add_cart' 12 %}"><svg class="bi bi-cart3" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
        </svg></a>
      {% else %}
      <a onclick="func1();"><svg class="bi bi-cart3" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
        </svg></a>
      {% endif %}
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a id="save" onclick="partShot();" style="color:rgba(193,167,132)"><i class="fas fa-download"></i></a>
  </div>
</nav>

<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
<script src="http://html2canvas.hertzen.com/dist/html2canvas.js"></script>
<script>

function PrintDiv(div){
        div = div[0];
        html2canvas(div).then(function(canvas){
            var myImage = canvas.toDataURL();
            downloadURI(myImage, "CustomHair.png");
        })
    }

    function downloadURI(uri, name){
        var link = document.createElement("a");
        link.download = name;
        link.href = uri;
        document.body.appendChild(link);
        link.click();
    }

    $("#save").click(function(){
        PrintDiv($('#all'));
    });

    $(function(){
    $("#save").click(function() { 
        html2canvas($("#all"), {
            onrendered: function(canvas) {
                canvas.toBlob(function(blob) {
                    saveAs(blob, 'image.png');
                });
            }
        });
    });
    });

</script>

<div id="pieces">
    <script>
    change('black');
    </script>
</div>


{% endblock content %}