{% extends "base.html" %}

{% block content %}
<style>

</style>
<title>mypage</title>

<style>
  #hi{
    font-size: 1.7em;
    text-align: center;
    margin-top: 40px;
    color: #000;
  }
  .con{
    width: 100%;
    background: #e9e0d1;
    padding-top: 34px;
    padding-bottom: 30px;
    color: #fff;
  }
  .col-sm-3{
    font-size: 1.3em;
  }
  .btn{
    margin-top: 23px;
    width: 240px;
    text-align: center;
    background-color:#e9e0d1;
    color: #fff;
    border-radius: 17px;
  }
  .beige{
    color: #c1a784;
  }
</style>
{% if user.is_authenticated %}

<div class="con text-center">
  <h2>MY PAGE</h2>
</div>
<br>
<p id="hi"><span class="beige">>></span><strong>{{user.nickname}}</strong>님 안녕하세요!<span class="beige"><<</span></p>
<br><hr class="hr">
<div class="row" style="width: 100%;">
  <div class="col-sm-3"> </div>
  <div class="col-sm-3">
    <img src="/static/img/haribo.png" width="240dp" height="240dp">
  </div>
  <div class="col-sm-3">
    <p>아이디 : {{user.username}}</p><br>
    <p>닉네임 : {{user.nickname}}</p><br>
    <p>주소 : {{user.address}}</p><br>
    <p>핸드폰 번호 : {{user.phone}}</p><br>
  </div>
  <div class="col-sm-3"></div>
</div>
<br><hr class="hr">
<div class="text-center" style="width: 100%;">
<button type="submit" class="btn text-black"><a href="{% url 'user_update' %}" style="color: #000">개인정보 수정</a></button>
<button type="submit" class="btn"><a href="{% url 'change_password' %}" style="color: #000">비밀번호 수정</a></button>
</div>
{% else %}
<p>로그인이 필요합니다.</p>
{% endif %}



{% endblock %}
