{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row portfolio-container" data-aos="fade-up" data-aos-delay="400">
        {% for product in products %}
            {% if product.category == category %}
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    {% if product.image %}
                  <img src="{{ product.image.url }}" class="img-fluid" alt="">
                    {% endif %}
                  <div class="portfolio-info">
                    <h4>{{ product.name }}</h4>
                    <p>{{ product.price }}</p>
                    <div class="portfolio-links">
                      <a href="assets/img/portfolio/portfolio-1.jpg" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                      <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
        {% endfor %}
</div>

{% endblock content %}